## Imports
Import dqr function

In [1]:
import pandas as pd
import numpy as np
from data_quality_reports.dqr import DQR

## Load data
Load the data you want to do a data quality report on

In [2]:
file_path = '../tests/fixtures/demo_data.csv'
# Edit read statement based on your file type (csv, excel, etc.)
df = pd.read_csv(file_path, sep = ',', header=0) # Make sure you use the correct separator based on your data

Take a quick look at the DataFrame to make sure it looks correct

In [3]:
# View the raw DataFrame
df.head()

,ID,ReportDate,Continuous1,Continuous2,Continuous3,Categorical1,Categorical2,Categorical3
0,1,2023-01-01,0.7821,36.5,9123.1,Category1,TypeA,Label1
1,2,2023-01-02,0.2398,29.7,8239.2,Category2,TypeB,Label2
2,3,2023-01-03,0.5823,45.1,7123.6,Category1,TypeA,Label3
3,4,2023-01-04,0.1298,39.6,6754.8,Category3,TypeC,Label1
4,5,2023-01-05,0.4832,28.5,8892.3,Category2,TypeB,Label2

## Perform Data Quality Check

In [4]:
# Initialise the DQR instance for the specific DataFrame
dqr = DQR(df)

In [7]:
# Get the continuous data DataFrame:
continuous_df = dqr.get_continuous_df()
# Get the categorical data DataFrame:
categorical_df = dqr.get_categorical_df()
# Uncomment the below call to generate a csv file
dqr.write_to_csv()

In [6]:
display(continuous_df)
display(categorical_df)

,data_type,count,missing,cardinality,min,1st qrt,mean,median,3rd qrt,max,std dev
ID,int64,40,0.0,40,1.00,10.75,20.50,20.50,30.25,40.00,11.69
Continuous1,float64,40,0.0,35,0.13,0.24,0.47,0.39,0.65,0.98,0.27
Continuous2,float64,40,0.0,30,28.30,29.45,34.54,33.15,39.60,45.80,5.65
Continuous3,float64,40,0.0,35,6711.80,7123.60,7870.68,8027.25,8539.42,9214.10,852.48

,data_type,count,missing,cardinality,mode,mode_freq,mode_percent,mode_2,mode_2_freq,mode_2_perc
ReportDate,object,40,0.0,40,2023-01-01,1,2.5,2023-01-02,1,2.5
Categorical1,object,40,0.0,3,Category1,14,35.0,Category2,13,32.5
Categorical2,object,40,0.0,3,TypeB,16,40.0,TypeA,12,30.0
Categorical3,object,40,0.0,3,Label1,14,35.0,Label2,14,35.0